{% load static %}
  <head>
    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link rel="shortcut icon" href="#" />
    <!-- Author Meta -->
    <meta name="author" content="Harrison Jansma" />
    <!-- Meta Description -->
    <meta
      name="description"
      content="A personal website built and deployed by Harrison Jansma."
    />
    <!-- Meta Keyword -->
    <meta name="keywords" content="portfolio" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>Emin Özata</title>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
      rel="stylesheet"
    />


    <style>
      div.a {
        text-align: center;
      }
      </style>

    <!--Semantic UI-->

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--
			CSS
            "{% static 'css/main.css' %}"
			============================================= -->


    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>


<body>


  <div class="ui stackable three column grid">
    {% for veri in veriler.wallet %}
      <div class="column">
        <div class="card">
          <div class="content">
            <div class="ui center aligned basic segment">
              <div class="ui inverted segment">
                <h2 class="ui red header">{{veri.asset}}</h2>
              </div>
            </div>
            <div class="ui center aligned basic segment">
              <div class="description">
                <div class="ui blue inverted statistic">
                  <div class="value">
                    ₺{{veri.varlık_tl_deger}}
                  </div>
                </div>
                <p></p>
                <div class="ui red inverted statistic">
                  <div class="value">
                    ${{veri.varlık_usd_deger}}
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    {% endfor %}
  </div>



  <table class="ui celled table responsive nowrap unstackable">
    <thead><tr><th>Assets</th>
        <th><i class="bitcoin icon"></i></th>
        <th><i class="lira sign icon"></i></th>
        <th><i class="dollar sign icon"></th>
    </tr></thead>
    <tbody>
      {% for veri in veriler.wallet %}
      <tr>
        <td data-label="Name">{{veri.asset}}</td>
        <td data-label="Age">{{veri.my_varlık}}</td>
        <td data-label="Job">₺{{veri.my_varlık_tl}}</td>
        <td data-label="Job">${{veri.my_varlık_usd}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>




  <div class="ui stackable four column grid">

    <div class="column">
      <div class="card">
        <div class="content">
          <div class="ui center aligned basic segment">
            <div class="header">TOPLAM USD</div>
          </div>
          <div class="ui center aligned basic segment">
            <div class="meta">#</div>
          </div>
          <div class="ui center aligned basic segment">
            <div class="description">
              <div class="ui red inverted statistic">
                <div class="value">
                  {{veriler.my_usd}}
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="content">
          <div class="ui center aligned basic segment">
            <div class="header">TOPLAM TL</div>
          </div>
          <div class="ui center aligned basic segment">
            <div class="meta">
              <h3 class="ui red header">₺{{veriler.profit}}</h3>
            </div>
          </div>
          <div class="ui center aligned basic segment">
            <div class="description">
              <div class="ui blue inverted statistic">
                <div class="value">
                  {{veriler.my_tl}}
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="content">
          <div class="ui center aligned basic segment">
            <div class="header">KREDİDEN GELEN USD</div>
          </div>
          <div class="ui center aligned basic segment">
            <div class="meta">
              <h3 class="ui red header">{{kredi_verileri.kredi_giris_parasiyla_fark_usd}}</h3>    
            </div>
          </div>
          <div class="ui center aligned basic segment">
            <div class="description">
              <div class="ui red inverted statistic">
                <div class="value">
                  ${{kredi_verileri.toplam_usd}}
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="content">
          <div class="ui center aligned basic segment">
            <div class="header">KREDİDEN GELEN TL</div>
          </div>
          <div class="ui center aligned basic segment">
            <div class="meta">
              <h3 class="ui red header">{{kredi_verileri.kredi_giris_parasiyla_fark_tl}}</h3>
            </div>
          </div>
          <div class="ui center aligned basic segment">
            <div class="description">
              <div class="ui blue inverted statistic">
                <div class="value">
                  ₺{{kredi_verileri.toplam_tl}}
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>

  </div>

  <div class="ui container">
    <h2>KREDİ ERİME YÜZDESİ</h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{kredi_verileri.kredi_erime_yuzdesi}}%">
        {{kredi_verileri.kredi_erime_yuzdesi}}
        <span class="sr-only">70% Complete</span>
      </div>
    </div>
  </div>


</body>


</html>

